* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  overflow-x: hidden;
  background-color: black;
  background-image: url(https://raw.githubusercontent.com/AverseABFun/speriments-assets/main/lab.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#main {
  position: absolute;
  left: 0;
  right: auto;
  padding: 1rem;
  transition: right 3s, left 3s;
}
#main.slide_out {
  right: -100%;
}
#main.slide_in {
  left: -100%;
  right: auto;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

#extra {
  cursor: pointer;
}

#tool {
  top: 50%;
  height: 25%;
}

#console {
  position: absolute;
  bottom: 10px;
  color: white;
}
